name: repository_size
run-name: ${{ github.autor }} asking for repository size
on: [push]
jobs:
  repository_size:
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v3
      with:
        repostory: ""
      - run: echo ${GITHUB_REF##*/}
      - run: du -skh --exclude=".git"
